<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <div class="container-fluid flex-wrap justify-content-center align-items-center bg-light">
        <ul class="nav justify-content-center border-bottom py-0">
            <li class="nav-item">
                <a href="/" class="nav-link px-2">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/faqs" class="nav-link px-2">
                    FAQs
                </a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link px-2">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/KacperK1337" target="_blank" class="nav-link px-2">
                    Github
                </a>
            </li>
        </ul>
        <p class="text-center text-muted mb-0 py-2">
            Service created by Kacper Koźmiński
        </p>
    </div>
</footer>
</body>
</html>