<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <!--    Main-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}"/>
    <script src="/static/js/main.js" th:src="@{/js/main.js}"></script>

    <style th:inline="text">

        body {
            background-image: url([[@{/img/bg/blank_bg.png}]]);
        }

        .main-background {
            height: 140vh;
        }

    </style>

</head>
<body class="text-center">

<div th:include="fragments/header :: header"></div>

<main class="main-background">
    <div class="container-fluid px-4 pt-4">
        <h3 class="h-left-fade-08 mx-2 inline-left">
            About the service
        </h3>
        <hr>
        <p class="p-left-large mx-2 my-2">
            Pokemon service is a web service created by Kacper Koźmiński as part of a portfolio project.
            The service was made using Spring Boot with Java 17 and Gradle.
        </p>
        <hr class="hr-short">
        <p class="p-left-large mx-2 my-2">
            Technologies used in the project:
        </p>
        <p class="p-left-large mx-2 my-2">
            - Spring Security<br>
            - REST API<br>
            - Thymeleaf<br>
            - Bootstrap<br>
            - Spring Data JPA<br>
            - PostgreSQL<br>
        </p>
        <hr class="hr-short">
        <p class="p-left-large mx-2 my-2">
            Service uses Database authentication with remember-me feature, providing basic html forms.
            Authentication credentials are verified for errors using custom & Spring validators.
            Authentication uses Roles and Authorities.
            Each logged user can change his password through an additional form and delete his account if he wants.
        </p>
        <p class="p-left-large mx-2 my-2">
            Service provides API that allows to display pokemons and their parameters, i.e.
            Pokedex number, full name, types and possible evolutions in table.
            Table rows can be sorted by ascending and descending order after each field except evolution.
            API supports pagination and can display 20, 40 or 60 pokemons per page.
            Additionally, each pokemon in the table can be displayed with details and its own photo
            by clicking on the table row.
        </p>
        <p class="p-left-large mx-2 my-2">
            The service enables interactions for logged users through the functionality of
            adding one pokemon of their choice to favorites.
            This feature is associated with the constantly updated Pokemon ranking,
            which is a table of 20 units with the most likes.
        </p>
        <p class="p-left-large mx-2 my-2">
            Pages are written in html with thymeleaf engine. Style of the pages was designed based on Bootstrap 5.
            Each image used on the website, except for the photos of the pokemons themselves, was generated by
            the AI text-to-image system DALLE 2. Pokemon pictures are official pokemon artworks
            used under a Fair Use Policy. They were provided to service via website pokemondb.net.
        </p>
        <hr class="hr-short">
        <p class="p-left-large mx-2 my-2">
            Sources used in the production of the Pokemon Service:
        </p>
        <a class="p-left-large other-link block-left mx-2" href="https://openai.com/dall-e-2/"
           target="_blank">
            - DALLE 2 AI image generator
        </a>
        <a class="p-left-large other-link block-left mx-2" href="https://pokemondb.net/pokedex/national"
           target="_blank">
            - Pokemon pictures (pokedex)
        </a>
    </div>
</main>

<div th:include="fragments/footer :: footer"></div>

</body>
</html>