<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQs</title>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    <!--    Main-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/main.js}"></script>

    <style th:inline="text">

        body {
            background-image: url([[@{/img/bg/blank_bg.png}]]);
        }

        .main-background {
            height: 78.9vh;
        }

    </style>
</head>
<body class="text-center">

<div th:include="fragments/header :: header"></div>

<main class="main-background">
    <div class="container-fluid px-4 pt-5">
        <h3 class="h-left-fade-08 mx-2 inline-left">
            Commonly asked questions
        </h3>
        <hr>
        <h4 class="h-left-fade-08 mx-2 my-2">
            How many pokemons are on site?
        </h4>
        <p class="p-left-large mx-2 my-2">
            - 905 including generation 8.
        </p>
        <hr class="hr-short">
        <h4 class="h-left-fade-08 mx-2 my-2">
            Can I add more than 1 pokemon to favourites?
        </h4>
        <p class="p-left-large mx-2 my-2">
            - Unfortunately you can't.
            By introducing this feature I wanted users to not be able to like more than 1 pokemon,
            because then the ranking of the most liked pokemons would not be reliable.
        </p>
        <hr class="hr-short">
        <h4 class="h-left-fade-08 mx-2 my-2">
            What features are you planning to implement at this moment?
        </h4>
        <p class="p-left-large mx-2 my-2">
            - Admin subpage that will handle some high level operations on pokemons (e.g. adding new)
        </p>
        <p class="p-left-large mx-2 my-2">
            - More pokemon stats and interactions between them
        </p>
        <p class="p-left-large mx-2 my-2">
            - Website responsiveness for mobiles and custom resolutions
        </p>
    </div>
</main>

<div th:include="fragments/footer :: footer"></div>

</body>
</html>